.overall .title,
.overall .img {
  transition: all ease-in 0.2s;
  color: whitesmoke;
}

.overall:hover .title {
  transform: translate3d(60px, -120px, 50px);
  color: #3c97ff;
}

.overall:hover .img {
  transform: translate3d(-70px, -60px, 80px) scale(120%);
}

.overall .des {
  opacity: 0;
}

.overall:hover .des {
  opacity: 1;
}
